@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Unica+One&display=swap');

#tile-container {
  height: 83vh;
  background-color: #f4f4f2;
  float: right;
  width: 27%;
  margin-top: .5rem;
  margin-right: 2rem;
  border-radius: 1rem;
  padding-top: 1rem;
}

#save-to-deck-button {
  width: 26.6%;
  float: right;
  height: 2rem;
  top: 3.6rem;
  right: 2.5rem;
  border-radius: .5rem;
  position: absolute;
  font-size: 1.25rem;
  background-color: #F4C14F;
  color: white;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  padding-top: .25rem;
  outline: 0; 
}

.location-search-input {
  height: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  width: 66%;
  font-size: 1.25rem;
  padding-left: .5rem;
  border-radius: .5rem;
  border: none;
  /* border-style: .5px gray; */
  background-color: #f4f4f2;
}

#home-background {
  background-image: url("./evansWilderness.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  align-items: center;
}

#login-form {
  background-color: white;
  text-align: center;
  width: 24%;
  height: 10rem;
  margin-top: 11rem;
  position: absolute;
  margin-left: 38%;
  border-radius: 1rem;
  opacity: 0.7;
}

#username-input {
  height: 2rem;
  border-radius: .5rem;
  border: none;
  background-color: #f4f4f2;
  width: 66%;
  align-self: center;
  margin-top: 1rem;
  margin-right: .5rem;
  padding-left: .5rem;
  font-size: 1.25rem;
}

#login-button {
  height: 2rem;
  border-radius: .5rem;
  width: fit-content;
  font-size: 1rem;
  color: #5388C6;
  /* background-color: #5388C6; */
  border:2px solid #5388C6 none;
}

h1 {
  margin-top: 1.5rem;
  font-family: "Unica One", cursive;
  font-size: 3rem;
  margin-bottom: .5rem;
}

.list-item {
  height: 1.5rem;
  width: 88%;
  background-color: white;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: .5rem;
  padding-top: .4rem;
  padding-left: .6rem;
  padding-bottom: 0rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #5A5B5A;
  box-shadow: 2px 2px 8px #9FA09F;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}